*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
}

.clear-fix{
    clear: both;

}
   /* -------Start Home------ */
#home .navbar{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    justify-content: space-around;
    background-color: #FFFFFF;

    
}
/* #home .navbar .navbar-logo{

} */
#home .navbar .navbar-menu ul{
    display: flex;
    
}
#home .navbar .navbar-menu a{
    color: rgb(155, 155, 155);
    padding: 30px 15px;
    font-weight: 600;
    font-family: sans-serif;
}
#home .navbar .navbar-menu .sec{
    display: flex;
}
#home .navbar .navbar-menu .sec a{
    transition-property: width ;
    transition-duration: 1s;
    /* transition-timing-function: ease-in; */
}
#home .navbar .navbar-menu .sec a:hover{
   border-bottom: 2px solid #CE1212;
   width: 1px;
   padding-bottom: 8px;
   color: black;

}
#home .navbar .navbar-menu .first a{
  color: black;
  position: relative;
}
.navbar-menu  .first a::after{
    content: "";
    background-color: #CE1212;
    width: 50px;
    height: 2px;
    position: absolute;
    top: 55px;
    left: 12px;
    
    
}

/* #home .navbar .navbar-mood{
    
} */

#home .intro{
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    padding: 50px 0;
    
}

#home .intro .intro-text{
    /* padding-left: 150px;
    padding-top: 110px; */
    margin: auto;
    

   
}

#home .intro .intro-text h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
    font-size: 50px;
    color: #37373F;
    font-weight: 400;
    /* line-height: 50px; */


}
#home .intro .intro-text .watch{
    display: flex;
    /* position: relative; */
    
}

#home .intro .intro-text .watch a{
    background-color: #FFFFFF;
    padding: 13px 15px;
    margin-top: 9px;
    margin-left: 8px;
    position: relative;
    border-radius: 50px;    
}

#home .intro .intro-text .watch::before{
    content: '';
    position:absolute;
    /* background-color: #CE1212; */
    border-radius: 50px;
      /* Create the circle */
  width: 45px;
  height: 45px;
  border: 8px solid #CE1212;
  border-radius: 50%;
  /* Halve the circle */
  border-bottom-color: transparent;
  border-left-color: transparent;
  /* Rotate the circle */
  transform: rotate(220deg);

  

}

#home .intro .intro-text .watch p{
    padding-top: 22px;
    padding-left: 15px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#home .intro .intro-text p{
    line-height: 22px;
    padding-left: 5px;
    color: #4F4F5A;

}
#home .intro .intro-text button{
    background-color: #CE1212;
    padding: 0 30px;
    margin-right: 20px;
    border: 1px solid #CE1212;
    border-radius: 80px;
    border-top-left-radius:0;
    color: #FFFFFF;
    margin-right: 40px;
    font-size: 16px;
    cursor: pointer;
    

}
#home .intro .intro-text .btn-watch{
    display: flex;
    padding: 20px 0;
}
#home .intro .intro-img{
    transition: 2s all; 
    padding-left: 100px;

   
    
}
#home .intro .intro-img img{
    width: 75%;
    transition: 5s all; 
    transition-duration: 5s;
    /* box-shadow: 0 0 10px rgb(37, 37, 37); */
   
}
#home .intro .intro-img:hover img{
    animation: shake 0.2s linear infinite;
    transform: translate(5px,4px);
}

@keyframes shake {
    0%{
        transform: rotate(-1deg);
    }
    50%{
        translate: rotate(1deg);
    }
        
}
   /* -------End Home------ */

 /* -------Start Chef------ */

#chef-prt {
    text-align: center;
    color: #7F7F90;
    margin: 70px 30px;

}
#chef-prt h2 {
    
    color: #212529;
    padding-bottom: 5px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

}
#chef-prt h2 span {
    
    color: #CE1212;

}

#chef-prt .chefs{
    display: flex;
    justify-content: space-between;
    /* margin: 0 80px; */
    padding: 30px 80px;


    
    
}
#chef-prt .chefs h3{
    color: black;
    
    
}
#chef-prt .chefs .chef1{
    border-radius: 7px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.425);
    transition: all 0.5s;

    
}
#chef-prt .chefs .chef1 .chef1-img img{
    width: 100%;
}
#chef-prt .chefs .chef1:hover {
    transform: scale(1.1);
}

#chef-prt .chefs .chef1 .chef1-img{
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
   
       
}

#chef-prt .chefs .chef1 .chef1-img .layer{
    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 100%;
    width: 60px;
    height: 45%;
    background-color:rgba(133, 132, 132, 0.452);
    border-radius: 5px;
    transition: all 1s;

}
#chef-prt .chefs .chef1 .chef1-img .layer a{
    padding-top: 20px;
    display: block;
    



}

#chef-prt .chefs .chef1 .chef1-img:hover .layer{
    left: 75%;
}

#chef-prt .chefs .chef1 h3{
    padding: 10px 0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#chef-prt .chefs .chef1 p{
    width: 270px;
    line-height: 21px;
   font-size: 17px;
   padding-left: 45px;
   padding-top: 20px;

}

#chef-prt .chefs .chef2{
    border-radius: 7px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.425);
    transition: all 0.5s;

    
}
#chef-prt .chefs .chef2:hover {
    transform: scale(1.1);
}
#chef-prt .chefs .chef2 .chef2-img img{
 width: 100%;

    
}
#chef-prt .chefs .chef2 .chef2-img{
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
   
       
}

#chef-prt .chefs .chef2 .chef2-img .layer1{
    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 100%;
    width: 60px;
    height: 45%;
    background-color:rgba(133, 132, 132, 0.452);
    border-radius: 5px;
    transition: all 1s;

}
#chef-prt .chefs .chef2 .chef2-img .layer1 a{
    padding-top: 20px;
    display: block;
    



}

#chef-prt .chefs .chef2 .chef2-img:hover .layer1{
    left: 75%;
}
#chef-prt .chefs .chef2 h3{
    padding: 10px 0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#chef-prt .chefs .chef2 p{
    width: 270px;
    line-height: 22px;
   font-size: 17px;
   padding-left: 45px;
   padding-top: 20px;
  

}
/* #chef-prt .chefs .chef2 span{
    padding-top: 200px ;
} */

#chef-prt .chefs .chef3{
    border-radius: 7px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.425);
    transition: all 0.5s;

    
}
#chef-prt .chefs .chef3:hover {
    transform: scale(1.1);
}
#chef-prt .chefs .chef3 .chef3-img img{
    width: 100%;
   
       
}
#chef-prt .chefs .chef3 .chef3-img{
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
   
       
}

#chef-prt .chefs .chef3 .chef3-img .layer2{
    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 100%;
    width: 60px;
    height: 45%;
    background-color:rgba(133, 132, 132, 0.452);
    border-radius: 5px;
    transition: all 1s;

}
#chef-prt .chefs .chef3 .chef3-img .layer2 a{
    padding-top: 20px;
    display: block;
    



}

#chef-prt .chefs .chef3 .chef3-img:hover .layer2{
    left: 75%;
}
#chef-prt .chefs .chef3 h3{
    padding: 10px 0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#chef-prt .chefs .chef3 p{
    width: 270px;
    line-height: 22px;
   font-size: 17px;
   padding-left: 45px;
   padding-top: 20px;
  
  

}
/* #chef-prt .chefs .chef3 span{
    padding-top: 200px ;
} */







 /* -------End Chef------ */


   /* -------Start Gallery------ */
#gallery{
    padding: 70px 0;
    background-color:#EEEEEE ;
    text-align: center;
}

#gallery span{
   color: #7F7F90;
   font-size: 15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 500;

}
#gallery h2{
    padding-bottom: 5px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

#gallery h2 span{
    color: #CE1212;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

}

#gallery .imgs{
    margin: 30px 80px;
    columns: 3 250px;
    gap: 15px;

}
#gallery .imgs img{
    margin-bottom: 10px;
    border: 4px solid white;
    width: 100%;


}
#gallery .imgs .img1{
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;

}
#gallery .imgs .img1 .layerr1{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    transition: all 0.4s;
    text-align: center;
    color: white;
    
}

#gallery .imgs .img1:hover .layerr1{
    top: 0;

}
#gallery .imgs .img1 img{
   transition: all 1s;
    

}
.layerr1 .txtt1{
    margin-top: 100px;
}

#gallery .imgs .img1:hover img{
    transform: scale(1.1);
}

#gallery .imgs .img2{
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;

}
#gallery .imgs .img2 .layerr2{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    transition: all 0.4s;
    color: white;
    
}
.layerr2 .txtt2{
    margin-top: 250px;
}

#gallery .imgs .img2:hover .layerr2{
    top: 0;

}
#gallery .imgs .img2 img{
   transition: all 1s;
    

}
#gallery .imgs .img2:hover img{
    transform: scale(1.1);
}

#gallery .imgs .img3{
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;

}
#gallery .imgs .img3 .layerr3{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    transition: all 0.4s;
    text-align: center;
    color: white;
    
}

#gallery .imgs .img3:hover .layerr3{
    top: 0;

}
#gallery .imgs .img3 img{
   transition: all 1s;
    

}
#gallery .imgs .img3:hover img{
    transform: scale(1.1);
}
.layerr3 .txtt3{
    margin-top: 300px;
}


#gallery .imgs .img4{
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;

}
#gallery .imgs .img4 .layerr4{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    transition: all 0.4s;
    text-align: center;
    color: white;
    
}

#gallery .imgs .img4:hover .layerr4{
    top: 0;

}
#gallery .imgs .img4 img{
   transition: all 1s;
    

}
#gallery .imgs .img4:hover img{
    transform: scale(1.1);
}
.layerr4 .txtt4{
    margin-top: 200px;
}

#gallery .imgs .img5{
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;

}
#gallery .imgs .img5 .layerr5{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    transition: all 0.4s;
    text-align: center;
    color: white;
    
}

#gallery .imgs .img5:hover .layerr5{
    top: 0;

}
#gallery .imgs .img5 img{
   transition: all 1s;
    

}
#gallery .imgs .img5:hover img{
    transform: scale(1.1);
}
.layerr5 .txtt5{
    margin-top: 100px;
}


#gallery .imgs .img6{
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;

}
#gallery .imgs .img6 .layerr6{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    transition: all 0.4s;
    text-align: center;
    color: white;
    
}

#gallery .imgs .img6:hover .layerr6{
    top: 0;

}
#gallery .imgs .img6 img{
   transition: all 1s;
    

}
#gallery .imgs .img6:hover img{
    transform: scale(1.1);
}
.layerr6 .txtt6{
    margin-top: 100px;
}


#gallery .imgs .img7{
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;

}
#gallery .imgs .img7 .layerr7{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    transition: all 0.4s;
    text-align: center;
    color: white;
    
}

#gallery .imgs .img7:hover .layerr7{
    top: 0;

}
#gallery .imgs .img7 img{
   transition: all 1s;
    

}
#gallery .imgs .img7:hover img{
    transform: scale(1.1);
}
.layerr7 .txtt7{
    margin-top: 100px;
}



/* -------End Gallery------ */


/* -------Start Contact------ */
#contact{
    
    padding: 50px 70px;
    margin: 30px 50px;

}

#contact span{
    color: #7F7F90;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
}

#contact h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;

}
#contact h2 span{
    color: #CE1212;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: center;

}

#contact .details .info{
    display: flex;
    flex-wrap: wrap;
}
#contact .details .info p{
    font-weight: 300;
}
#contact .details .info .address{
  width: 46.5%;
  background-color: #F5F5F5;
  margin: 5px 3px;
  padding: 30px 15px;

}
#contact .details .info .address .adress-img{
    float: left;
    background-color: #CE1212;
    padding: 15px 15px;
    border-radius: 50px;
    margin-left:10px;
}
#contact .details .info .address .adress-text{
    float: left;
    padding-left: 15px;
   
}
#contact .details .info .address .adress-text h3{
    color:#7D7D7D;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}

#contact .details .info .email{
    width: 46.5%;
    display: flex;
    background-color: #F5F5F5;
    margin: 5px 3px;
    padding: 30px 15px;
}
#contact .details .info .email .email-img{
    float: left;
    background-color: #CE1212;
    padding: 15px 15px;
    border-radius: 50px;
    margin-left:10px;


}
#contact .details .info .email .email-text{
    float: left;
    padding-left: 15px;
    

}
#contact .details .info .email .email-text h3{
    color:#7D7D7D;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}
#contact .details .info .email .email-text a{
    color: black;
}
#contact .details .info .call{
    width: 46.5%;
    display: flex;
    background-color: #F5F5F5;
    margin: 5px 3px;
    padding: 30px 15px;
}
#contact .details .info .call .call-img{
    float: left;
    background-color: #CE1212;
    padding: 15px 15px;
    border-radius: 50px;
    margin-left:10px;


}
#contact .details .info .call .call-text{
    float: left;
    padding-left: 15px;
    

}
#contact .details .info .call .call-text h3{
     color:#7D7D7D;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}
#contact .details .info .openinghours{
    width: 46.5%;
    display: flex;
    background-color: #F5F5F5;
    margin: 5px 3px;
    padding: 30px 15px;
}
#contact .details .info .openinghours .openinghours-img{
    float: left;
    background-color: #CE1212;
    padding: 15px 15px;
    border-radius: 50px;
    margin-left:10px;


}
#contact .details .info .openinghours .openinghours-text{
    float: left;
    padding-left: 15px;
    

    

}
#contact .details .info .openinghours .openinghours-text h3{
    color:#7D7D7D;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}
#contact .details .info .openinghours .openinghours-text span{
    font-weight: bold;
    color: black;
}
.message{
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.185);
    margin: 30px 0;
    padding: 30px 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.client-info{
    display: flex;
    flex-wrap: wrap;


}
.client-info input{
    border: 1px solid #E8E3E3;

}


.client-info .name{
    width: 48%;
    height: 50px;
    margin: 10px 10px;
}
.client-info .mail{
    width: 48%;
    height: 50px;
    margin: 10px 10px;
}
.client-info .sub{
    width: 100%;
    height: 50px;
    margin: 10px 10px;
}
.client-info .mesg{
    width: 100%;
    height: 100px;
    margin: 10px 10px;
}
.message button{
    margin: 15px 0;
    margin-bottom: 5px;
    padding: 17px 40px;
    color: white;
    background-color: #CE1212;
    border-radius: 30px;
    border: 1px solid transparent;
    cursor:pointer;

}
/* -------End Contact------ */


/* -------Start Footer------ */
#footer{
    background: linear-gradient(rgba(0, 0, 0, 0.404) , rgba(0, 0, 0, 0.486)) ,url('textured-metal-background.jpg');
    background-size: 100% 100%;
    background-position: center center;
    display: flex;
    padding: 30px 10px;
    padding-left: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: white;


}
#footer .restaurant-detail{

    width: 20%;
    padding: 22px 0;
    padding-left: 10px;

}
#footer .restaurant-detail .title{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 5px 0;
 
}

#footer .restaurant-detail .title .logo img{
    width: 2.5rem;
    height: 2.5rem;
  
}
#footer .restaurant-detail .title .txt{
    font-size: 22px;
   
    color: white; 
}
#footer .restaurant-detail .title .txt span{
    color: #CE1212;
}
#footer .restaurant-detail p{
    padding-left: 10px;
    width: 80%;
    color: white;
    padding: 5px 0;
 
}
#footer .restaurant-detail h4{
    text-align: center;
    font-size: 19px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: relative;
    color: white;
    padding: 5px 0;
}
#footer .restaurant-detail h4::after{
    content: '';
    height: 2px;
    width: 230px;
    position: absolute;
    top: 45px;
    left: 15px;
    background-color: #595959;
}
#footer .restaurant-detail .media{
    display: flex;
    padding: 20px 0;
    padding-left: 50px;
}
#footer .restaurant-detail .media a{
    font-size: 25px;

    padding: 0 13px;
}

#footer .subscribe{
    width: 45%;
}
#footer .subscribe p{
    width: 90%;
    padding-bottom: 20px;

}
#footer .subscribe h3{
    font-size: 19px;
    padding-bottom: 20px;

}
#footer .subscribe input{
   width: 70%;
   height: 15%;
   margin-bottom: 20px;
   border-radius: 2px;

}
#footer .subscribe button{
    width: 20%;
    height: 15%;
    background-color: #CE1212;
    border: 10px solid transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#footer .subscribe .sec {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#footer .subscribe a{
   display: block;
   padding-bottom: 10px;
   padding-left: 10px ;
   font-weight: 600;
   font-size: 18px;
   transition: all 1s;
}
#footer .subscribe a:hover{
    background-color: #222222;
    transform: scale(1.05);
}
#footer .subscribe .sec .sec1{
    padding-left:0 ;
    
}
#footer .GetinTouch{
    width: 22%;
    font-size: 15px ;
}

#footer .GetinTouch h3{
    font-size: 19px;
    padding-bottom: 20px;
}
#footer .GetinTouch p{
    font-size: 25px;
}



#footer .GetinTouch .location{
    display: flex;
    padding: 7px 0 ;
    gap: 7px;
}
#footer .GetinTouch .location .location-text p{
    font-size: 14px;

}
#footer .GetinTouch .mails {
    display: flex;
    padding: 7px 0 ;
    gap: 7px;
}
#footer .GetinTouch .location .mails-text p{
    font-size: 14px;

}
#footer .GetinTouch .mails a{
   color: white;
}
#footer .GetinTouch .phone{
    display: flex;
    padding: 7px 0 ;
    gap: 7px;
}
#footer .GetinTouch .location .phoneNo span{
    font-size: 14px;

}



  



/* -------End Footer------ */

